/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .heroBanner {
    padding: 2rem;
  }

  .indexCtas {
    justify-content: center;
  }

  .indexCtas a {
    margin: 20px 36px;
  }

  .indexCtasGitHubButton {
    display: none;
  }
}

.indexCtas {
  --ifm-button-size-multiplier: 1.6;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  overflow: hidden;
}

.indexCtas a,
.indexCtas a:hover {
  color: black;
}

.indexCtas a:last-of-type {
  margin: 20px 36px;
}

.indexCtasGitHubButtonWrapper {
  display: flex;
}

.indexCtasGitHubButton {
  overflow: hidden;
}
